*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Sans' sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    position: relative;
}
h1{
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
}
h2{
    font-size: 35px;
    line-height: 45px;
    font-weight: 500;
}
h4{
    line-height: 35px;
    font-size: 25px;
    font-weight: 400;
}
p{
    line-height: 20px;
    font-size: 20px;
    font-weight: 500;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.navbar .container{
    padding: 1rem 6%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}

.navbar .logo{
    height: 25px;
    overflow: hidden;
}
.navbar .logo a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.navbar .logo a strong{
    font-family:'Sans' sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -3px;
}
.navbar ul{
    display: flex;
    gap: 1.5rem;

}

.navbar ul a{
    font-size: 22px;
    font-weight: 400;
    color: #aaa;
    text-transform: capitalize;
}
.navbar ul a:hover{
    color: #fff;
}

.header{
    background-image: url("https://media.istockphoto.com/id/1740526991/photo/photographer-in-a-suit-holding-the-digital-camera-while-standing-on-a-black-background.jpg?s=612x612&w=0&k=20&c=_ELVO_pzm5olC115KNKeHM7kxcGPmmDRGbJ8qByL3Io=");
    min-height: 100vh;
    width: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header .box{
    position: absolute;
    top: 25%;
    left: 6%;
    transform: translate(0%,-50%);
    max-width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}
.header .box h1{
    color: #fff;
}
.header .box h2{
    color: #fff;
}
.header .box p{
    color: #fff;
}
.header .btns{
    display: flex;
    gap: 1rem;
}
.header .box .btn{
    margin-top: 1rem;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    width: fit-content;
    text-transform: capitalize;
}
.header .box .btn:hover{
    color: #444;
    background-color: #eee;
}
section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section .container{
    padding: 1rem 6%;
    display: flex;
    justify-content: space-between;
}
section .container .box{
    width: 50%;
    min-width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about .container .box ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 0rem;
}
.about .container .box ul li{
    font-size: 21px;
    color: #111;
}
.about .container .box ul li i{
    font-size: 16px;
    color: #fff;
    background-color: #000;
    padding: 5px;
    border-radius: 50%;
}
.about .container .box ul li span{
    font-size: 18px;
    font-weight: 400;
    color: #444;
    text-transform: capitalize;
    padding: 2px 5px;
}
.about .container .box .signature{
    width: 80%;
    display: flex;
    text-align: center;
    gap: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #000;
   
}
.about .container .box img{
    width: 80px;
    height: fit-content;
   
}
.about .container .box .txt{
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 1rem;
   
   
}
.about .container .about-image{
    width: 50%;
    min-width: 300px;
    overflow: hidden;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about .about-image .image{
    width: 50%;
    height: 80%;
    overflow: hidden;
}
.about .about-image .image::after{
    content: '';
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -30px;
    margin-left: -30px;
    width: 50%;
    height: 80%;
    background-color: #b2b2b2;
    z-index: -1;
}
.about .about-image .image::before{
    content: '';
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 30px;
    margin-left: 30px;
    width: 50%;
    height: 80%;
    background-image: url("https://t4.ftcdn.net/jpg/02/99/28/21/360_F_299282112_HwPpQIaXElljXBbGLjjfrJ08i0f0TwHb.jpg");
    z-index: -1;
}
.about .about-image .image img{
    width: 100%;
    min-width: 300px;
    object-fit: cover;
}
.bg-dark{
    background-color: #2b2b2b;
}
section .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 0rem;
}
.bg-dark .heading h1{
 color: #fff;
 text-transform: capitalize;
}
.bg-dark .heading h1{
    color: #b2b2b2;
    text-align: center;
}
.bg-dark .heading h1{
    color: #fff;
}
.services .box{
  max-width: 33.33%;
  min-width: 300px;
  padding: 1rem;
}
.services .box .item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
}
.services .box .item a h4{
    color: #A6ACAF;
    font-size: 26px;
    line-height: 34px;
}
.services .box .item a p{
    color: #fff;
    line-height: 25px;
    font-size: 25px;
}
.services .box .item a{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.services p{
    color: #A6ACAF;
}
.border-1{
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
}
.border-2{
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
}
.border-3{
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
}